<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <title>תודה רבה!</title>
  <style>
       @font-face {
  font-family: 'Dana Yad';
  src: url('/static/DanaYadAlefAlefAlefNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
         h2 {
 color: #536387;
  font-family: 'Dana Yad', sans-serif;
  direction: rtl; /* For Hebrew */
}
     body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F9F5E1;
    text-align: center;
  }
  </style>
</head>
<body>
  <div >
    <h2>תודה ,
    </h2>
      <br/>
      <h2>נשמח לראותכם !</h2>
  </div>
</body>
</html>
